PORT=3000
MONGO_URI=mongodb://localhost:27017/

JWT_KEY=your_jwt_secret_here
JWT_EXPIRES_IN=24h

SMTP_SERVICE=gmail
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password_here

BASE_URL=http://localhost:3000
